{% extends 'base.html.twig' %}

{% block body %}


    {#<form enctype="multipart/form-data" action="{{ path('security_login') }}" method="post" class="text-white col-lg-6 offset-lg-3 bg-secondary mt-4 rounded p-4">#}
        {#<div class="form-group">#}
            {#<label for="product_name" class="col-lg-8 offset-lg-2">#}
                {#Име на продукта:#}
                {#<input type="text" class="form-control mt-2" name="product_name" placeholder="">#}
            {#</label>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#<label for="password" class="col-lg-8 offset-lg-2">#}
                {#Описание:#}
                {#<textarea class="form-control mt-2 " name="description" rows="5"></textarea>#}
            {#</label>#}
        {#</div>#}
        {#<button class="btn-success btn col-4 offset-4 mt-5">Създай</button>#}

    {#</form>#}


    {{ form_start(form, {'attr':{'class':'mt-3 border-2 border-secondary pt-3 pb-3 rounded'}}) }}
    <h1 class="h1 mb-3 text-center">
        Добави продукт
    </h1>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
        {{ form_label(form.name, null,
            {'label': 'Име на продукта:'}
        ) }}
        </div>
        <div class="col-lg-5">
        {{ form_widget(form.name,
            {'attr': {'class': 'form-control'}}
        )}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
            {{ form_label(form.price, null,
                {'label': 'Цена:'}
            ) }}
        </div>
        <div class="col-lg-5">
            {{ form_widget(form.price,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
            {{ form_label(form.description, null,
                {'label': 'Описание:'}
            ) }}
        </div>
        <div class="col-lg-5">
            {{ form_widget(form.description,
                {'attr': {'class': 'form-control', 'rows': '4'}}
            )}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
            {{ form_label(form.category, null,
                {'label': 'Категория:'}
            ) }}
        </div>
        <div class="col-lg-5">
            {{ form_widget(form.category,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
            {{ form_label(form.colors, null,
                {'label': 'Цветове:'}
            ) }}
        </div>
        <div class="col-lg-5">
            {{ form_widget(form.colors,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2 text-right">
            {{ form_label(form.image, null,
                {'label': 'Качи снимка:'}
            ) }}
        </div>
        <div class="col-lg-5">
            {{ form_widget(form.image,
                {'attr': {'class': 'form-control'}}
            )}}
        </div>

    </div>
    <div class="text-center">
    {{ form_row(form.save, {
        'label': 'Запази',
        'attr':{'class':'btn btn-outline-secondary btn-lg pr-5 pl-5'}
    }) }}
    </div>
    {{ form_end(form) }}



{% endblock %}